---
layout: default
title: Vanni Totaro's Blog
---

<h2>Blog Posts by Tag</h2>
<br>

{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}
{% for tag in sortedtags %}
  <p class="tag" id="tag-{{ tag }}">
    <a href="/tags.html#tag-{{ tag }}"><span class="label label-info">#{{ tag }}</span></a>
  </p>
  <ul>
  {% for post in site.tags[tag] %}
    <li>
      <span>{{ post.date | date_to_string }}</span> &raquo;
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
  </ul>
{% endfor %}

{% include share.html %}
