<p>
  {% capture post_encoded_url %}{{ site.url | cgi_escape }}{{ page.url | cgi_escape }}{% endcapture %}
  <strong>Share this {% if page.url == '/index.html' %}blog{% else %}post{% endif %}:</strong><br>
  <a href="https://plus.google.com/share?url={{ post_encoded_url }}"
     target="_blank"><img src="/img/gplus.png" alt="Share this post on Google+"></a>
  <a href="https://twitter.com/intent/tweet?url={{ post_encoded_url }}&via=vannitotaro&text={{ page.title | cgi_escape }}&related=asaclock"
     target="_blank"><img src="/img/twitter.png" alt="Share this post on Twitter"></a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ post_encoded_url }}"
     target="_blank"><img src="/img/facebook.png" alt="Share this post on Facebook"></a>
</p>
