<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Programming, hacking, web startups and more.">
    <meta name="author" content="Giovanni (aka Vanni) Totaro">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/all.css" rel="stylesheet">
    <link href="/atom.xml" type="application/atom+xml" rel="alternate"
          title="Vanni Totaro's Blog Feed">

    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
    <![endif]-->

    {% include ga.html %}
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Vanni Totaro</a>
          <ul class="nav">
            <li><a href="/">Index of posts</a></li>
            <li><a href="/tags.html">Tags</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li class="visible-phone"><a href="#about">About</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="page-header">
        <h3 class="muted">Programming, hacking, web startups, and more.</h3>
      </div>

      <div class="row">
        <div class="span8" id="content">
          {{ content }}
        </div>
        <div class="span3 offset1" id="about">
          <h3>About me</h3>
          <p>Hi!</p>
          <p>
            I'm Giovanni Totaro, a.k.a. Vanni.<br>
            IT Engineer, Italian, born 1980.<br>
            Started coding at 5 on a VIC 20 :)
          </p>
          <p>
            Founder and CEO of
            <a href="http://www.asroot.com" target="_blank"><strong>asroot</strong></a>™.
          </p>
          <a href="http://www.asaclock.com" title="Anti-procrastination for startup founders">
            <img src="/img/asaclock.png" alt="asaclock logo" width="180" height="115">
          </a>
          <p>
            Building
            <a href="http://www.asaclock.com" target="_blank"><strong>asaclock</strong></a>™,
            an elite <strong>anti-procrastination community</strong>
            for <strong>startup single founders</strong>
            and people working on <strong>side projects</strong>.
          </p>
          <p>Contact me at<br><img src="/img/email.png" alt="ingtotaro at ingtotaro dot it"></p>
          <p>
            <a href="https://twitter.com/vannitotaro"
               class="twitter-follow-button" data-show-count="false"
               data-size="large" data-dnt="true">Follow @vannitotaro</a>
          </p>
          <div class="g-person"
               data-href="https://plus.google.com/113250814961864918365"
               data-rel="author"
               data-width="180">
          </div>
          <iframe
            id="circlecount-badge"
            src="http://www.circlecount.com/badge_circlecount_iframe.php?id=113250814961864918365&amp;color=blue&amp;round=0&amp;shadow=0&amp;image=0"
            width="180"
            scrolling="no">
          </iframe>
          <div class="g-community"
               data-href="https://plus.google.com/communities/100445483815501942968"
               data-width="180"
               data-showowners="true">
          </div>
          <p id="aboutme-links">
            You can find me also on:<br>
            <img src="/img/favicon-linkedin.png" alt="LinkedIn Favicon"> <a href="http://www.linkedin.com/in/ingtotaro" target="_blank" rel="me">LinkedIn</a><br>
            <img src="/img/favicon-stackoverflowcareers.png" alt="StackOverflow Careers Favicon"> <a href="http://careers.stackoverflow.com/totaro" target="_blank" rel="me">StackOverflow Careers</a><br>
            <img src="/img/favicon-github.png" alt="GitHub Favicon"> <a href="https://github.com/vannitotaro" target="_blank" rel="me">GitHub</a><br>
            <img src="/img/favicon-stackexchange.png" alt="StackExchange Favicon"> <a href="http://stackexchange.com/users/51802c970b0b4b189a017d2f98a69511?tab=accounts" target="_blank" rel="me">StackExchange</a><br>
          </p>
        </div>
      </div>

      <footer>
        <p>
          Copyright &copy; 2005-2014 Giovanni Totaro. All rights reserved.
          <span class="pull-right">
            <a href="/atom.xml" title="Subscribe via RSS to my blog posts">
              <img src="/img/feed.png" width="28" height="28" alt="Feed">
            </a>
          </span>
        </p>
      </footer>

    </div>
    {% include plusone.html %}
    {% include twitter.html %}
  </body>
</html>

