<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Programming, hacking, web startups and more.">
    <meta name="author" content="Giovanni (aka Vanni) Totaro">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
    <![endif]-->

    <link href="/css/all.css" rel="stylesheet">
    <link href="http://feeds.feedburner.com/ingtotaro" type="application/atom+xml" rel="alternate" title="Vanni Totaro's Blog Feed">

    {% include ga.html %}
  </head>

  <body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="/">Vanni Totaro</a>
          <ul class="nav">
            <li><a href="/">Blog</a></li>
            <li id="nav-about"><a href="#about">About</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="page-header">
        <h1><small>Programming, hacking, web startups and more.</small></h1>
        <img src="http://www.gravatar.com/avatar/669dba7d7f87659c2262975aafebcd7b?s=110" alt="Vanni Totaro's Photo">
        <a href="http://www.asaclock.com" title="Anti-procrastination for startup founders"><img src="/img/asaclock.png" alt="asaclock logo"></a>
        <br><br>
      </div>
      <div class="row">
        <div class="span11" id="content">
          {{ content }}
        </div>
        <div class="span4 offset1" id="about">
          <h3>About me</h3>
          <p>Hi!</p>
          <p>
            I'm Giovanni Totaro, a.k.a. Vanni.<br>
            IT Engineer, Italian, born 1980.<br>
            Started coding at 5 on a VIC 20 :)
          </p>
          <p>Founder and CEO of <a href="http://www.asroot.com" target="_blank"><strong>asroot</strong></a>™.</p>
          <p>
            Building <a href="http://www.asaclock.com" target="_blank"><strong>asaclock</strong></a>™,
            an elite <strong>anti-procrastination community</strong> for <strong>startup single founders</strong> and people working on <strong>side projects</strong>.
          </p>
          <p>Contact me at<br><img src="/img/email.png" alt="ingtotaro at ingtotaro dot it"></p>
          <p>
            <a href="http://twitter.com/vannitotaro" class="twitter-follow-button" data-show-count="false" rel="me">Follow @vannitotaro</a>
            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
          </p>
          <p id="aboutme-links">
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=about.me" alt=""> <a href="http://about.me/vannitotaro" target="_blank" rel="me">About.me</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=disqus.com" alt=""> <a href="http://disqus.com/ingtotaro" target="_blank" rel="me">Disqus</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=github.com" alt=""> <a href="https://github.com/vannitotaro" target="_blank" rel="me">GitHub</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=code.google.com" alt=""> <a href="http://code.google.com/u/vanni.totaro" target="_blank" rel="me">Google Code</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=plus.google.com" alt=""> <a href="https://plus.google.com/113250814961864918365/about" target="_blank" rel="me">Google+</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=www.facebook.com" alt=""> <a href="http://www.facebook.com/vanni.totaro" target="_blank" rel="me">Facebook</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=fiverr.com" alt=""> <a href="http://fiverr.com/users/vannitotaro" target="_blank" rel="me">Fiverr</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=forrst.com" alt=""> <a href="http://forrst.com/people/vannitotaro" target="_blank" rel="me">Forrst</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=forrst.me" alt=""> <a href="http://forrst.me/vannitotaro" target="_blank" rel="me">Forrst.me</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=www.quora.com" alt=""> <a href="http://www.quora.com/Giovanni-Totaro" target="_blank" rel="me">Quora</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=news.ycombinator.com" alt=""> <a href="http://news.ycombinator.com/user?id=vanni" target="_blank" rel="me">Hacker News</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=www.hackernewsers.com" alt=""> <a href="http://www.hackernewsers.com/users/vanni.html" target="_blank" rel="me">Hacker Newsers</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=launchpad.net" alt=""> <a href="https://launchpad.net/~vanni-totaro" target="_blank" rel="me">Launchpad</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=www.linkedin.com" alt=""> <a href="http://www.linkedin.com/in/ingtotaro" target="_blank" rel="me">LinkedIn</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=www.panoramio.com" alt=""> <a href="http://www.panoramio.com/user/1839725" target="_blank" rel="me">Panoramio</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=www.reddit.com" alt=""> <a href="http://www.reddit.com/user/vannitotaro" target="_blank" rel="me">Reddit</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=stackexchange.com" alt=""> <a href="http://stackexchange.com/users/51802c970b0b4b189a017d2f98a69511?tab=accounts" target="_blank" rel="me">StackExchange</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=careers.stackoverflow.com" alt=""> <a href="http://careers.stackoverflow.com/totaro" target="_blank" rel="me">StackOverflow Careers</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=twitter.com" alt=""> <a href="http://twitter.com/vannitotaro" target="_blank" rel="me">Twitter</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=www.visible.me" alt=""> <a href="http://giovannitotaro1600172.visible.me" target="_blank" rel="me">Visible.me</a><br>
          <img src="http://s2.googleusercontent.com/s2/favicons?domain=www.xing.com" alt=""> <a href="http://www.xing.com/profile/Giovanni_Totaro" target="_blank" rel="me">Xing</a>
          </p>
        </div>
      </div>

      <footer>
        <p>
          Copyright &copy; 2011 Giovanni Totaro. All rights reserved.
          <span class="pull-right"><a href="http://feeds.feedburner.com/ingtotaro" title="Subscribe to my blog posts"><img src="/img/feed.png" width="48" height="48" alt="Feed"></a></span>
        </p>
      </footer>
    </div>
  </body>
</html>

