---
layout: default
---

{{ page.date | date_to_long_string }}
<h2>{{ page.title }}
<small>by {{ page.author }}</small></h2>
<br>

{{ content }}

{% include addthis.html %}

<br>
<a href="http://feeds.feedburner.com/ingtotaro" title="Subscribe to my posts"><img src="/img/feed.png" width="48" height="48" alt="Feed"></a>
<p><a href="http://feeds.feedburner.com/ingtotaro">Please subscribe to my blog posts!</a></p>

<div id="disqus_thread"></div>

<script type="text/javascript">
  var disqus_shortname = 'ingtotaro',
      disqus_identifier = '{{ page.url }}';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>

<noscript>
  Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>

<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
